.header-bg {
  height: 40vh;
  margin-bottom: 5%;
}

.header-bg::before {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}

.header-bg::after {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}

.header-bg div {
  height: 100%;
  display: -webkit-box;
  display: flex;
      -webkit-box-pack: start;
  justify-content: flex-start;
}

.header-bg div h1 {
  margin: auto 0;
  color: #ffffff;
}
