.contact-input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #efefef;
  border-radius: 5px;
  border: 0.5px solid #bbbbbb;
  font-size: 1rem;
}

.contact input {
  width: 50%;
}

.contact textarea {
  width: 90%;
  height: 25vh;
}

.contact-input:focus {
  outline: none;
  background-color: #fafafa;
}

.contact-input:hover {
  box-shadow: 1px 1px 5px #cbcbcb;
}

.contact-btn {
  margin-right: 0;
}

.contact-btn:disabled {
  opacity: 0.7;
  pointer-events: none;
}

@media only screen and (min-width: 770px) {
  .contact input {
    width: 35%;
  }

  .contact textarea {
    width: 80%;
    height: 40vh;
  }
}

.contact span {
  margin-right: 5%;
  font-size: 1rem;
}

.mSent {
  display: none;
}

.input-error {
  color: #df7171;
  border: 0.5px solid #df7171;
}
