footer {
  margin-top: 10%;
  background-color: #050505;
}

.footer-menus {
  display: -webkit-box;
  display: flex;
  -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-box-pack: center;
   justify-content: center;
  padding: 50px 0;
}

.footer-menus .menu h5 {
  color: #ffffff;
  font-size: 1rem;
}

.footer-menus .menu ul {
  display: flex;
  font-size: 1rem;
}

.footer-menus .menu ul li {
  padding: 0 3%;
}

.bottom-footer {
  padding: 35px 0;
  position: relative;
  text-align: center;
  background-color: #222222;
  color: #bbbbbb;
}

.bottom-footer p {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.bottom-footer p a {
  color: #8bc18d;
  font-weight: inherit;
}

.bottom-footer p a:hover {
  text-decoration: underline;
}

.bottom-footer .btn-up button {
  display: block;
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #222222;
  border-radius: 20px 0 0 0;
}

@media only screen and (min-width: 770px) {
  .footer-menus {
    -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
           -ms-flex-direction: row;
               flex-direction: row;
  }

  .footer-menus .menu ul {
    display: block;
    font-size: 0.9rem;
  }

  .footer-menus .menu h5 {
    font-size: 0.9rem;
  }

  .bottom-footer .btn-up button {
    margin: 0;
    right: 60px;
  }
}

.bottom-footer .btn-up button Img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bottom-footer .btn-up button Img:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}
