.nav-container {
  position: sticky;
  top: 0;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0.5px 0.5px 10px 2px rgb(100, 100, 100, 0.1);
  z-index: 2;
}

.nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
        align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.nav h5 {
  display: none;
}

.nav #desktop ul {
  display: -webkit-box;
  display: flex;
  width: -webkit-max-content;
     width: -moz-max-content;
          width: max-content;
  margin: 0;
  list-style: none;
}

.nav #desktop ul li {
  margin: 0 30px;
}

.nav #desktop ul li a {
  color: darkgreen;
  font-size: 1rem;
  font-weight: 500;
}

/* firefox */
@-moz-document url-prefix() {
  .nav #desktop ul li a {
    font-weight: 600;
  }
}

/* IE and Edge */
_:-ms-lang(x), .nav #desktop ul li a {
  font-weight: 600;
}

#desktop {
  display: none;
}

#mobile {
  position: relative;
}

@media only screen and (min-width: 770px) {
  #mobile {
    display: none;
  }

  #desktop {
    display: inherit;
  }
}

.active {
  text-decoration: underline;
  cursor: default;
}
