.prev-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10%;
  color: #000000;
}

.prev-body p {
  opacity: 0.8;
}

.prev-body .prev-img {
  grid-row: 1;
}

.prev-body:hover {
  color: #000000;
  text-decoration: underline;
  filter: brightness(104%);
}

.prev-body div {
  margin-bottom: 10px;
}

@media only screen and (min-width: 770px) {
  .prev-body {
    grid-template-columns: 3fr 1fr;
  }

  .prev-body .prev-img {
    grid-row: auto;
  }
}
