.sidebar {
  display: none;
  margin-right: 35px;
  max-width: 155px;
}

.sticky {
  position: fixed;
  bottom: 56.5%;
  margin-right: 35px;
}

@media only screen and (min-width: 770px) {
  .sidebar {
    display: block;
  }
}
