.clients {
  display: flex;
  flex-wrap: wrap;
}

.client-img-wrapper {
  width: 20%;
  margin: 0.5%;
}

.client-img {
  transition: 1s;
  transform: scale(0.8);
}

.client-img:hover {
  transform: scale(1.2);
}
