.clients {
  display: none;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.clients-mobile {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.clients-mobile .slide-track {
  animation: scroll 30s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 4000px;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  align-items: center;
  transform: translate3d(0, 0, 0);
  box-shadow: inset 0 0 10px rgb(200, 200, 200);
}

.clients-mobile .slide-track div {
  margin: 0 10px;
}

/* @media only screen and (min-width: 992px) {
  .clients-mobile {
    display: none;
  }

  .clients {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: center;
  }

  .client-img {
    transition: 1s;
    transform: scale(0.8);
  }

  .client-img:hover {
    transform: scale(1.2);
  }
} */
