.clients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
}

.client-img {
  transition: 1s;
  transform: scale(0.8);
}

.client-img:hover {
  transform: scale(1.2);
}
